@page "/challenge/{id}"
@inject ChallengeService challengeService;
@using helloworld.Services;
@using System.Threading;

<style>
    .code-editor {
        height: calc(100vh - 125px);
        width: 500px;
        float: right;
    }
</style>

<h3>
    @title
</h3>

<div class="panel">
    @description
</div>


<MonacoEditor @ref="_editor" Id="any-id-string" CssClass="code-editor" />

<button class="bg-blue-600 w-" @onclick="@runCode">
    Run
</button>

@if(testCase != null) {
    <p>Test case output: @testCase[0].output</p>
}

@if (output != null)
{
    <p>Output: @output[0].output</p>
    <p>Cpu time: @output[0].cpuTime</p>
    <p>Memory: @output[0].memory</p>
}


@code {
    [Parameter]
    public string id { get; set; }
    public string description { get; set; }

    public string title { get; set; }
    public Output[] output { get; set; }
    public TestCase[] testCase { get; set; }
    private MonacoEditor _editor { get; set; }
    protected async Task changeTheme()
    {
        await MonacoEditor.SetTheme("vs-dark");
    }

    protected override async Task OnInitializedAsync()
    {
        var c = await challengeService.getChallengeByID(id);
        this.description = c.description;
        this.title = c.title;
        this.testCase = c.testCases;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await changeTheme();
            await _editor.SetValue("");
        }
    }

    private async void runCode()
    {
        var value = await this._editor.GetValue();
        helloworld.Services.Output[] a = await challengeService.runCode(value, testCase);
        this.output = a;
        @* Console.WriteLine(testCase[0].output);
            Console.WriteLine(this.output[0].output); *@
        StateHasChanged();
    }
}